.container-best-of {
	padding: 7vh 0;
	text-align: center;

	h2 {
		color: $color_dark_blue;
		font-size: 2.4rem;
		margin-bottom: 14vh;
	}

	button {
		@include button($bg_primary_desktop, white, $fw_light);
		margin-top: 5vh;
	}
}

.best-of {
	&-first,
	&-third {
		display: none;
	}
}

.best-of {
	&-first,
	&-second,
	&-third {
	margin: 0 2vw;
	background-color: $bg_primary_light_grey;

	img {
		position: relative;
		bottom: 6vh;
	}

	h5 {
		color: $color_dark_blue;
		font-size: 1.3rem;
		font-weight: $fw-bolder;
	}

	p {
		color: $color_dark_bluegrey;
		padding: 3vh 0;
		line-height: 1.6;
	}
}}

@media (min-width: 1200px) {
	.container-best-of {
		margin: 11vh 0;
		
		button {
			@include button_desktop($bg_primary_desktop, white, $fw_light);
		}
	}

	.father-best-of {
		display: flex;
		margin: 0 3vw;
	}

	.best-of {
		&-first,
		&-second,
		&-third {
			display: block;
			margin: 1vh 0;

			p {
				padding: 3vh 0.4vw;
			}
		}
	}
}
