$bg_primary_mobil: #3CDDF3;
$bg_primary_desktop: #8B48BF;
$bg_primary_grey: rgb(201, 201, 201);
$bg_primary_light_grey: rgb(249, 249, 249);

$color_dark_bluegrey: #1E1E26;
$color_dark_blue: #232851;
$color_light_grey: rgb(170, 170, 170);
$color_lighter_grey: rgb(201, 201, 201);